<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <style>
      .card {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 320px;
    border-radius: 20px;
  }
  
  .title {
    display: flex;
    align-items: center;
  }
  
  .title span {
    position: relative;
    padding: 0.5rem;
    background-color: #10B981;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
  }
  
  .title span svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    height: 1rem;
  }
  
  .title-text {
    margin-left: 0.5rem;
    color: #374151;
    font-size: 18px;
  }
  
  .percent {
    margin-left: 0.5rem;
    color: #02972f;
    font-weight: 600;
    display: flex;
  }
  
  .data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .data p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1F2937;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
  }
  
  .data .range {
    position: relative;
    background-color: #E5E7EB;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
  }
  
  .data .range .fill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10B981;
    width: 76%;
    height: 100%;
    border-radius: 0.25rem;
  }
    </style>
<body onload="verid(),ponerput(),contarElementos()" >

 <script>
   
    document.addEventListener('DOMContentLoaded', function() {
var elems = document.querySelectorAll('.sidenav');
var instances = M.Sidenav.init(elems, options);
});


    document.addEventListener('DOMContentLoaded', function() {
    M.AutoInit();
    
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
  });
    var elems = document.querySelectorAll('.sidenav');

  });
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tap-target');
  
  });
function tocar(){
   var toastHTML = '<span>I am toast content</span><button class="btn-flat toast-action">Save</button>';
  M.toast({html: toastHTML});
}
 </script>
  <nav>
  <div class="nav-wrapper  purple darken-3">
  <a href="#!" class="brand-logo ">Libros</a>
  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="icofont-navigation-menu"></i></a>

  </nav>
  </div>

  <ul >
    <%- include('../partials/menu'); %>
  </ul>
          
  <ul id="tabs-swipe-demo" class="tabs tabs-fixed-width tab-demo z-depth-1">
    <li class="tab col s3"><a class="active" href="#test-swipe-1"><i class="icofont-book " id="ntb"></i></a></li>
    
    <li class="tab col s3" ><a href="#test-swipe-3"><i class="icofont-ui-home " id="ntb"></i></a></li>
   
    <li class="tab col s3"><a href="#test-swipe-5" ><i class="icofont-plus" id="ntb"></i></a></li>
  </ul>
  <div id="test-swipe-1" class="col s12 "> 
    
    <div class="row ">
     
      <div class="col s12" >
   
     <div class="" id="centrado">
      <div class="chip1">
        <div class="chip icofont-check" onclick="actualizar()"> Actualizar</div>
        <div class="chip icofont-search" onclick="mostrarOcultarDiv()"><p id="tbus">Buscar</p> </div>
      </div>
             
     <div class="input-field col s12" id="buscardiv">
      <input type="search" name="buscar" id="buscar" onkeyup="buscador_interno()" placeholder="Buscar registro..." id="">
   
    </div>
  
     </div>
    
        <table class="centered highlight " id="tabla" >
          <thead>
            <tr class="purple lighten-5">
              <th>Imagen</th>
                <th>Libros</th>
                <th>Autores</th>
                <th>Año</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
          </thead>
  
          <tbody id="mostrar">
            
           
          </tbody>
        </table>
  
      </div>
      </div>
    </div>
  </div>

  <div id="test-swipe-3" class="col s12 ">
    <div id="principal">
      
   
      <div id="final">
     <div>
          <%- include('../partials/tarjetamuestra') %>
        </div>
              
            
      

      </div>
    </div>
  </div>

 

<div id="test-swipe-5" class="carda ">
  <div id="centrado">
    

  <div class="card">
     <form id="form" method="post" action="/books" enctype="multipart/form-data">
      <p style="text-align: center;"><b>Nueva Inscripción</b></p>
      <label for="name">Libro</label>
      <input type="text" id="name" name="name" placeholder="nombre del Libro" required>
      <label for="author">Autor</label>
      <input type="text" id="author" name="author" placeholder="autor del libro"  required>
       <label for="year">Año</label>
     
      <input type="date" id="year" name="year" placeholder="fecha de creado" required>
      <div class="file-field input-field">
        <div class="btn">
          <span>foto</span>
          <input type="file" name="irt" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" name="irt"  type="text" placeholder="foto">
        </div>
      </div>
    
      <input id="btn1" type="submit" value="Guardar datos">
     </form>
    
    
   </div>  
  </div>
  <script src="js/sweetalert2.all.js"></script>      
 <script src="materialito.js"></script>           
</body>
</html>