<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <%- include('../partials/head'); %>
    </head>
</head>

<body>
    
    <nav>
        <%- include('../partials/nav'); %>
    </nav>
      <ul>
        <%- include('../partials/lista'); %>
      </ul>
</body>
</html>