<!DOCTYPE html>
<html lang="es">
<head>
       <%- include('../partials/head') %>
</head>
<style>
body{
    margin: 10px;
    }
</style>
<body>
    <div>
        <%- include('../partials/vender') %> 
    </div>
  

</body>
</html>